<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Controls" version="1.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net461" />
  <package id="Framework.Utilities.Services" version="1.0.13" targetFramework="net461" />
  <package id="free-jqGrid" version="4.15.2" targetFramework="net461" />
  <package id="JqGrid" version="1.4.3" targetFramework="net461" />
  <package id="jQuery" version="2.0.2" targetFramework="net461" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net461" />
  <package id="jQuery.UI.Combined" version="1.8.11" targetFramework="net461" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.5.1" targetFramework="net461" />
  <package id="Microsoft.Data.Sqlite" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Data.Sqlite.Core" version="2.0.0" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.4" targetFramework="net461" />
  <package id="mySqlSugar" version="3.5.3.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.7" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.7" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.7" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.7" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.7" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.7" targetFramework="net461" />
  <package id="sqlSugar" version="4.6.0.3" targetFramework="net461" />
  <package id="sqlSugarCore" version="4.6.0.3" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.4.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="Utilities" version="3.3.0.2" targetFramework="net461" />
</packages>